@charset "utf-8";
.items{
margin: 0 auto;
max-width: 1140px;
}
.items a{
display:inline-block;
text-decoration:none;
color:white;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 20px;
font-weight:400;
margin:0 42px;
height: 30px;
overflow: hidden;

}
.items a span{
display: inline-block;
position:relative;
transition: transform 500ms;
-webkit-transition: -webkit-transform 500ms;
-moz-transition: transform 500ms;

}
.items a span:after{
content: attr(data-hover);
position: absolute;
top: -30px;
left:0;
transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
transform: translateY(30px);
-webkit-transform: translateY(30px);
-moz-transform: translateY(30px);
}



h3 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .full-screen {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  /*if you don't want the indicators or/and the controls*/
  /*.carousel-indicators,
  .carousel-control {
    display: none;
  }*/

#all{
height: 1680px;
background-color: #271A18;
}
#nav{
height: 310px;
background-color: #271A18;
}
#nav_top{
height: 55px;
background-color: #271A18;
position: relative;
margin-bottom: 15px;
}
#nav_R{
width:225px;
height: 30px;
position: absolute;
right: 0px;
bottom: 0px;
padding-right: 15px;
}
#shopping{
height: 30px;
height: 30px;
background-image: url('logo/02.png');
color: white;
background-repeat: no-repeat;
margin-right: 15px;
float: left;
}
#member{
height: 30px;
height: 30px;
background-image: url('logo/01.png');
color: white;
background-repeat: no-repeat;
float: left;
}
#nav_ind{
height: 145px;
background-color: #271A18;
}
#logo{
width: 213px;
height: 105px;
background-image: url('logo/03.png');
background-color: #271A18;
margin-left: auto;
margin-right: auto;
}
#nav_down{
height: 113px;
background-color: #271A18;
}
#line{
height:30px;
width: 170px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#line_2{
height:30px;
width: 250px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#slider{
width: 1366px;
height: 500px;
background-color: white;
margin-bottom: 150px;
margin-left: auto;
margin-right: auto;
}

#line_3{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: gold;
margin-bottom: 100px;
}
#contentup{
height: 200px;
background-color: #271A18;
padding-left: 200px;
padding-right: 200px;
margin-bottom: 50px;
}
#contentupL{
width: 210px;
height: 200px;
background-image: url('fesvitalimg/fesvital.gif');
background-size: cover;
background-position: center center;
margin-right: 160px;
float: left;
}
#contentupM{
width: 210px;
height: 200px;
background-image: url('school_img/school.gif');
background-size: cover;
background-position: center center;
margin-right: 150px;
float: left;
}
#contentupR{
width: 210px;
height: 200px;
background-image: url('clientimg/client.gif');
background-size: cover;
background-position: center center;
float: left;
}
#contentmid{
height: 85px;
background-color: #271A18;
margin-bottom: 180px;
padding-left: 200px;
padding-right: 200px;
}
#contentmidL{
width: 20%;
height: 85px;
margin-right: 200px;
float: left;

}
#contentmidM{
width: 20%;
height: 85px;
margin-right: 170px;
float: left;
}
#contentmidR{
width: 20%;
height: 85px;
float: left;
}
#contentbar{
height: 50px;
background-color: #271A18;
padding-left: 15%;
padding-right: 15%;
margin-bottom: 50px;
}
#FB{
width: 15%;
height: 20px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#e-mail{
width: 15%;
height: 20px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#online{
width: 15%;
height: 20px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#news{
width: 15%;
height: 20px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#activity{
width: 15%;
height: 20px;
float: left;
}
#footer{
height: 200px;
background-color: #271A18;
padding-left: 15%;
padding-right: 15%;
}
#qrcode{
width: 100px;
height: 100px;
background-image: url('img/5.png');
background-size: cover;
background-position: center center;
float: left;
margin-right: 80px;
}
#foothold{
height: 120px;
float: left;
}
#foothold1{
width: 250px;
height: 120px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: white;
float: left;
}
#foothold2{
width: 250px;
height: 120px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: white;
float: left;
}
#foothold3{
width: 250px;
height: 120px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: white;
float: left;
}