@charset "utf-8";
.items{
margin: 0 auto;
max-width: 1140px;
}
.items a{
display:inline-block;
text-decoration:none;
color:white;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 20px;
font-weight:400;
margin:0 42px;
height: 30px;
overflow: hidden;
}
.items a span{
display: inline-block;
position:relative;
transition: transform 500ms;
-webkit-transition: -webkit-transform 500ms;
-moz-transition: transform 500ms;
}
.items a span:after{
content: attr(data-hover);
position: absolute;
top: -30px;
left:0;
transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
transform: translateY(30px);
-webkit-transform: translateY(30px);
-moz-transform: translateY(30px);
}
#all{
height: 1680px;
background-color: black;
}
#nav{
height: 310px;
background-color: black;
margin-bottom: 50px;
}
#nav_top{
height: 55px;
background-color: black;
position: relative;
margin-bottom: 15px;
}
#nav_R{
width:225px;
height: 30px;
position: absolute;
right: 0px;
bottom: 0px;
padding-right: 15px;
}
#shopping{
height: 30px;
height: 30px;
background-image: url('logo/02.png');
color: white;
background-repeat: no-repeat;
margin-right: 15px;
float: left;
}
#member{
height: 30px;
height: 30px;
background-image: url('logo/01.png');
color: white;
background-repeat: no-repeat;
float: left;
}
#nav_ind{
height: 145px;
background-color: black;
}
#logo{
width: 213px;
height: 105px;
background-image: url('logo/03.png');
background-color: black;
margin-left: auto;
margin-right: auto;
}
#nav_down{
height: 113px;
background-color: black;
margin-bottom: 150px;
}
#line{
height:30px;
width: 170px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#line_2{
height:30px;
width: 250px;
border-right-width: 1px;
border-right-style: solid;
border-right-color: gold;
float: left;
}
#slider{
height: 30px;
width: 250px;
background-color: white;
margin-bottom: 100px;
margin-left: auto;
margin-right: auto;
}
#line_3{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: gold;
margin-bottom: 100px;
}
#contentup{
height: 300px;
background-color: black;
padding-left: 30%;
padding-right: 30%;
margin-bottom: 60px;
}
#contentuppic{
height: 300px;
background-color: white;
}
#contentmid{
width: 20%;
height: 85px;
background-color: white;
margin-bottom: 100px;
margin-left: auto;
margin-right: auto;
}
#contentdown{
width: 30%;
height: 150px;
background-color: white;
margin-bottom: 150px;
margin-left: auto;
margin-right: auto;
}
#footer{
height: 200px;
background-color: black;
padding-left: 15%;
padding-right: 15%;
}
#qrcode{
width: 100px;
height: 100px;
background-image: url('img/5.png');
background-size: cover;
background-position: center center;
float: left;
margin-right: 80px;
}
#foothold{
height: 120px;
float: left;
}
#foothold1{
width: 250px;
height: 120px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: white;
float: left;
}
#foothold2{
width: 250px;
height: 120px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: white;
float: left;
}
#foothold3{
width: 250px;
height: 120px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: white;
float: left;
}